<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">

  <%-findUserId %>

  <%- include partials/_header.ejs %>
  <% if ( !user_id ){ %>
  <p style="color:maroon;">Merci de vous login ou register</p>



  <%} else if (findUserId){%>  
  <h2>My URLs</h2>
  <ul>
    <% for (var key in urlsForUser){%>
    <li>
      <b><a href="<%- urlsForUser[key].longURL %>"> <%- key %>:</a></b> ➡️ <%- urlsForUser[key].longURL %>
      <p style="display:inline-block; right: 0;">
        <a href="/urls/<%- key %>">Upload l'url</a>
      </p>
      <form method="POST" action="/urls/<%- key %>/delete" style="display:inline-block; right: 0;">
        <button type="submit" class="btn btn-primary">delete 🚮</button>
      </form>
    </li>
    <%}%>
      </ul>
  <%}%>
    <h2>The URLs</h2>
    <ul>
      <% for (var key in urlDatabase){%>
      <li>
        <b><a href="/urls/<%- key %>"> <%- key %>:</a></b> ➡️ <%- urlDatabase[key].longURL %>
      </li>
      <%}%>
      </ul>

 
</body>

</html>