<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">

  <!--  Object.keys(userDB)  -->

  <%- include partials/_header.ejs %>
  <% if ( !user_id ){ %>
  <p style="color:maroon;">Welcome before you start please login or register</p>



  <%} else {%>
  <div style="padding: 15px;  margin-top: 10px;  background-color: #f8f9fa;">
    <h2>My URLs</h2>
    <ul>
      <% for (var short in urlsForUser){%>
      <li>
        <b><a href="<%- urlsForUser[short].longURL %>"> <%- short %>:</a></b> ➡️ <%- urlsForUser[short].longURL %>
        <p style="display:inline-block; right: 0;">
          <a href="/urls/<%- short %>" style="border: 1px solid #ccc; border-radius: 5px; padding: 7px;"> Update </a>
        </p>
        <form method="POST" action="/urls/<%- short %>/delete" style="display:inline-block; right: 0;">
          <button type="submit" class="btn btn-primary">delete 🚮</button>
        </form>
      </li>
      <%}%>
      </ul>
  <%}%>
  </div>

</body>

</html>